<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <input type="hidden" name="language" value="{$row.code}"/>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 300px;">Title</th>
            <th>Content</th>
        </tr>
        </thead>
        <tbody>

            {foreach name="data" key="key" id="vo"}
                <tr>
                    <td>{$key}</td>
                    {if condition="strlen($key) gt 50"}
                        <td><textarea name="row[{$key}]" cols="50" rows="10">{$vo}</textarea></td>
                       {else/}
                         <td><input type="text" name="row[{$key}]" value="{$vo}"/></td>
                    {/if}
                </tr>
            {/foreach}

        </tbody>
    </table>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>